/* Styles for the header component */
.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(6, 6, 6);

}
.left-section{
    display: flex;
    align-items: center;
}
.netflix-logo {
    height: 50px;
}
.menu {
    margin-left: 20px;
    cursor: pointer;
    display: flex;

}
.items {
        margin-left: 20px;
        font-size: 15px;
        font-weight: 500;
        color: white;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        font-family: Bebas Neue, Consolas;
    }
.right-section {
    margin-left: 800px;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
}
.search {
    flex: 1;
    height: 38px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(7, 7, 7);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
}
.search::placeholder {
    font-family: Bebas Neue, Consolas;
}
.search-button {
    height: 40px;
    width: 40px;
    background-color: rgb(16, 15, 15);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(54, 2, 2);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}
.notifications-icon {
        position: relative;
}
.search-icon {
    height: 25px;
}
.notify-icons {
    height: 24px;
}
.notifications-count {
    position: absolute;
    middle: -2px;
    top: -4px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: Bebas Neue, Consolas;
    font-size: 10px;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;

}
.profile-picture {
    height: 32px;
    border-radius: 16px;
    padding-left: 20px;
}
.search-button,
.notify-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip {
    font-family: Bebas Neue, Consolas;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

}
.search-button:hover .tooltip {
    opacity: 1;
}