/* This file is used to style the main page */
p {
    font-family: Bebas Neue, Consolas;
}


body{
    margin: 0;
    padding-top: 80px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: black;
}